<h1>Add Contact</h1>
<form action="/add" method="post">
  <div class="form-outline mb-3">
    <input type="text" id="name" name="name" class="form-control order-form-input" />
    <label class="form-label" for="name">Name</label>
  </div>
  <div class="form-outline mb-3">
    <input type="text" id="email" name="email" class="form-control order-form-input" />
    <label class="form-label" for="email">Email</label>
  </div>
  <button type="submit" class="btn btn-primary">add</button>
</form>
<a href="/" class="btn btn-primary">Back to List</a>
