<h1>Edit Task</h1>
<form action="/edit/{{tbody.id}}" method="post">
  <input type="text" name="email" value="{{tbody.email}}" />
  <input type="submit" value="Save" />
</form>
<a href="/">Back to List</a>