<h1>Edit Task</h1>
<form action="/edit/{{task.id}}" method="post">
  <input type="text" name="task" value="{{task.task}}" />
  <input type="submit" value="Save" />
</form>
<a href="/">Back to List</a>